##STARTFORM##
##id##
##op##
##metric##
<fieldset class='mainfieldset'>
	<legend>{Details}</legend>
	<table>
		<tr><td valign='top' width='150'>{Job}</td><td>##cd_job##</td></tr>
		##RIGA_FORNITORE##
		<tr><td valign='top'>{Amount}</td><td>##nu_importo## ##MONEY##</td></tr>
		<tr><td valign='top'>{Date}</td><td>##dt_payment##</td></tr>
		<tr><td valign='top'>{Status}</td><td>##en_status##</td></tr>
		<tr><td valign='top'>{Reference}</td><td>##de_label##</td></tr>
	</table>
</fieldset>
##ENDFORM##
